<div class="text-center">
  <h3>契約のリクエスト</h3>

  <%= form_with(model: @contract) do |f| %>

    <div class="field">
      <h5>契約相手： <%= @trainer.name %> さん</h5>
    </div>

    <div class="field">
      <%= f.label :start_date %><span class="text-danger">(必須)</span><br />
      <%= f.date_field :start_date, autocomplete: "start_date", min: Date.current %>
    </div>

    <div class="field">
      <%= f.label :end_date %><span class="text-danger">(必須)</span><br />
      <%= f.date_field :end_date, autocomplete: "end_date", min: Date.current + 1 %>
    </div>
    <p>
      ※ 指導終了日では今日の日付は選択できません。
    </p>

    <%= f.hidden_field :trainer_id, value: @trainer.id %>
    <%= f.hidden_field :trainee_id, value: current_trainee.id %>

    <div class="actions">
      <%= f.submit "契約のリクエストをする", class: "btn btn-outline-success btn-lg" %>
    </div>

    <p>※ <%= @trainer.name %> さんが契約を確定するまで、このリクエストを取り消すことができます。</p>
    <p>※ <%= @trainer.name %> さんが契約を確定した後は、リクエスト及び契約を取り消すことができません。お気を付けください。</p>

    <div class="mt-5">
      <%= link_to "前のページに戻る", :back%><br />
    </div>
  <% end %>
</div>
