<div class="text-center">
  <h3>アカウント情報の変更</h3>

  <%= form_for(@trainee, url: update_profile_trainee_path, html: { method: :put }) do |f| %>
    <%= render "trainees/shared/error_messages", resource: @trainee %>

    <div>
      <%= image_tag @trainee.avatar.variant(gravity: :center, resize:"200x200^", crop:"200x200+0+0"), class: "avatar_image" %>
    </div>

    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar, autocomplete: "avatar", onchange: "loadAvatar(this);" %>
    </div>

    <div id="update_avatar" style="display: none;">
      <p id="preview"></p>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :age %><br />
      <%= f.number_field :age, min: 1, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :introduction %><br />
      <%= f.text_area :introduction, autocomplete: "introduction" %>
    </div>

    <div class="field">
      <%= f.label :category %><br />
      <%= f.select :category, Trainee.categories_i18n.keys.map {|k| [I18n.t("enums.trainee.category.#{k}"), k]}, { include_blank: true } ,autocomplete: "category" %>
    </div>

    <div class="field">
      <%= f.label :instruction_method %><br />
      <%= f.select :instruction_method, Trainee.instruction_methods_i18n.keys.map {|k| [I18n.t("enums.trainee.instruction_method.#{k}"), k]}, { include_blank: true } ,autocomplete: "instruction_method" %>
    </div>

    <div class="field">
      <%= f.label :dm_allowed %><br />
      <span>許可しますか？</span><br />
      <%= f.check_box :dm_allowed, autocomplete: "dm_allowed" %>
    </div>

    <div class="field">
      <%= f.label :day_of_week_ids %><br />
      <% i = 0 %>
      <%= f.collection_check_boxes :day_of_week_ids, DayOfWeek.all, :id, :name do |day| %>
        <% if i % 4 == 0 %>
          <br>
        <% end %>
        <span class="mx-1 my-2"><%= day.check_box + day.text %></span>
        <% i += 1 %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :city_ids %><br />
      <div class="row justify-content-center mt-3">
        <% Region.all.each do |region| %>
            <button type= "button" class="btn btn-outline-dark btn-lg m-1 col-4" data-bs-toggle="collapse" data-bs-target="#prefectureCollapse<%= region.id %>" aria-expanded="false">
              <%= region.name %>
            </button>
          <div class="collapse m-3" id="prefectureCollapse<%= region.id %>">
            <% Prefecture.where(region_id: region.id).each do |prefecture| %>
              <% if region.id == prefecture.region_id %>
                <button type= "button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#cityCollapse<%= prefecture.id %>" aria-expanded="false">
                  <%= prefecture.name %>
                </button>
              <% end %>
              <div class="collapse m-2" id="cityCollapse<%= prefecture.id %>">
                <% i = 0 %>
                <div class="border border-secondary border-2 bg-light p-2 mt-4">
                  <%= prefecture.name %>の市区町村の一覧
                </div>
                <%= f.collection_check_boxes :city_ids, City.all, :id, :name do |city| %>
                  <% if prefecture.id == city.object.prefecture_id %>
                    <% if i % 3 == 0 %>
                      <br>
                    <% end %>
                    <% i += 1 %>
                    <span class="mx-2 my-3"><%= city.check_box + city.text %></span>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: "btn btn-outline-primary btn-lg" %>
    </div>
  <% end %>

  <%= link_to "Back", :back %><br />

  <%= link_to "トップページ", root_path %>
</div>

<!-- プロフィール画像のプレビューをするjs -->
<%= render "shared/preview"%>
