<div class="text-center">
  <h3>トレーニー検索</h3>
  <% if @trainee_search_params.present? %>
    <button class="btn btn-outline-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
      クリックすると検索フォームが表示されます
    </button>
  <% end %>
  <div class="collapse <%= "show" if @trainee_search_params.blank? %> card" id="collapseSearch">
    <div class="card-body">
      <h6 class="mb-4">※絞り込みを行わない項目は空白の状態にしてください。</h6>
      <%= form_with(scope: :search_trainee, url: search_for_trainee_path, method: :get) do |f| %>
        <div class="search_field">
          <%= f.label :dm_allowed, "DMの受け付けを許可しているトレーニーのみを検索する場合" %><br />
          <label>チェックを入れてください</label><br />
          <%= f.check_box :dm_allowed, checked: @trainee_search_params[:dm_allowed] == "1" ? "checked" : "unchecked" %> <!-- 値が"1"のときはtrue,"0"のときはfalse -->
        </div>

        <div class="search_field">
          <%= f.label :age, "年齢の範囲" %><br />
          <%= f.number_field :age_from, value: @trainee_search_params[:age_from] %>歳以上
          <%= f.number_field :age_to, value: @trainee_search_params[:age_to] %>歳以下
        </div>

        <div class="search_field">
          <%= f.label :gender, "性別" %><br />
          <%= f.select :gender, Trainee.genders_i18n.keys.map {|k| [I18n.t("enums.trainee.gender.#{k}"), k]}, { include_blank: true, selected: @trainee_search_params[:gender] } %>
        </div>

        <div class="search_field">
          <%= f.label :category, "カテゴリー" %><br />
          <%= f.select :category, Trainee.categories_i18n.keys.map {|k| [I18n.t("enums.trainee.category.#{k}"), k]}, { include_blank: true, selected: @trainee_search_params[:category] } %>
        </div>

        <div class="search_field">
          <%= f.label :instruction_method, "希望している指導方法" %><br />
          <%= f.select :instruction_method, Trainee.instruction_methods_i18n.keys.map {|k| [I18n.t("enums.trainee.instruction_method.#{k}"), k]}, { include_blank: true, selected: @trainee_search_params[:instruction_method] } %>
        </div>

        <div class="search_field">
          <%= f.label :day_of_week_ids, "活動できる曜日" %><br />
          <% i = 0 %>
          <%= f.collection_check_boxes :day_of_week_ids, DayOfWeek.all, :id, :name, {checked: @trainee_search_params[:day_of_week_ids]} do |day| %>
            <% if i % 4 == 0 %>
              <br>
            <% end %>
            <% i += 1 %>
            <span class="mx-1"><%= day.check_box + day.text %></span>
          <% end %>
        </div>

        <div class="search_field">
          <%= f.label :city_ids, "活動地域" %><br />
          <div class="row justify-content-center mt-3">
            <% @regions.each do |region| %>
                <button type= "button" class="btn btn-outline-dark btn-lg m-1 col-4" data-bs-toggle="collapse" data-bs-target="#prefectureCollapse<%= region.id %>" aria-expanded="false">
                  <%= region.name %>
                </button>
              <div class="collapse m-3" id="prefectureCollapse<%= region.id %>">
                <% region.prefectures.each do |prefecture| %>
                  <% if region.id == prefecture.region_id %>
                    <button type= "button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#cityCollapse<%= prefecture.id %>" aria-expanded="false">
                      <%= prefecture.name %>
                    </button>
                  <% end %>
                  <div class="collapse m-2" id="cityCollapse<%= prefecture.id %>">
                    <% i = 0 %>
                    <div class="border border-secondary border-2 bg-light p-2 mt-4">
                      <%= prefecture.name %>の市区町村の一覧
                    </div>
                    <%= f.collection_check_boxes :city_ids, prefecture.cities, :id, :name, {checked: @trainee_search_params[:city_ids]} do |city| %>
                      <% if prefecture.id == city.object.prefecture_id %>
                        <% if i % 3 == 0 %>
                          <br>
                        <% end %>
                        <% i += 1 %>
                        <span class="mx-2 my-3"><%= city.check_box + city.text %></span>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit 'この条件で検索する', class: "btn btn-outline-primary btn-lg" %>
        </div>
      <% end %>
      <%= button_to "検索条件・検索結果をリセットする", search_for_trainee_path, method: :get, class: "btn btn-outline-warning" %>
    </div>
  </div>
  <% if @trainee_search_params.present? %>
    <h6>条件に一致するトレーナーは<%= @trainees.count %>件です。</h6>
  <% end %>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% if @trainee_search_params.present? %>
      <% @trainees.each do |trainee| %>
        <ul class="custom-light-gray col pb-2 border border-3 border-white search-result">
          <li><%= image_tag trainee.avatar.variant(gravity: :center, resize:"200x200^", crop:"200x200+0+0").processed, class: "avatar_image" %></li>
          <li>名前：<%= trainee.name %></li>
          <li>年齢：<%= trainee.age %>歳</li>
          <li>性別：<%= trainee.gender_i18n %></li>
          <li>カテゴリー：<% if trainee.category %><%= trainee.category_i18n %><% else %>指定なし<% end %></li>
          <li>希望する指導方法：<% if trainee.instruction_method %><%= trainee.instruction_method_i18n %><% else %>指定なし<% end %></li>
          <li>DMの受け付け:<%= trainee.dm_allowed ? "許可する" : "許可しない" %></li>
          <li>活動できる曜日<% if trainee.day_of_weeks.empty? %>：指定なし<% end %></li>
          <% trainee.day_of_weeks.each do |day| %>
              <li><%= day.name %></li>
          <% end %>
          <li>活動地域
            <% if trainee.prefectures.empty? %>
              ：<button type="button" class="btn btn-sm btn-secondary" disabled>入力なし</button>
            <% end %>
          </li>
          <% trainee.prefectures.distinct.each do |prefecture| %>
            <li>
              <%= prefecture.name %>：
              <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= trainee.id %>and<%= prefecture.id %>" aria-expanded="false" aria-controls="collapse<%= trainee.id %>and<%= prefecture.id %>">
                活動している市区町村
              </button>
            </li>
            <div class="collapse" id="collapse<%= trainee.id %>and<%= prefecture.id %>">
              <div class="card card-body">
                <p class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
                <% trainee.cities.where(prefecture_id: prefecture.id).each do |city| %>
                  <span class="col"><%= city.name %></span>
                <% end %>
                </p>
              </div>
            </div>
          <% end %>
          <li>
          <%= button_to "このトレーニーの詳細を見る", trainee_path(trainee), method: :get, class: "btn btn-outline-primary" %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
