<h1>プロフィールページ</h1>
<% if @trainee == current_trainee %>
  <h2>あなたのプロフィール</h2>
<% end %>
<p><%= @trainee.name %></p>
<p><%= @trainee.age %></p>
<p><%= @trainee.gender %></p>
<p><%= @trainee.email %></p>
<p><%= link_to "トップページ", root_path %></p>
