<h1>プロフィールページ</h1>
<% if @trainee == current_trainee %>
  <h3>自分のプロフィール</h3>
<% end %>
<ul class="custom-light-gray">
  <li>名前:<%= @trainee.name %></li>
  <li>年齢:<%= @trainee.age %></li>
  <li>性別:<%= @trainee.gender %></li>
  <li>活動時間:<%= @trainee.timeframe %></li>
  <li>自己紹介:<%= @trainee.introduction %></li>
  <li>メールアドレス:<%= @trainee.email %></li>
  <li>DM許可:<%= @trainee.dm_allowed %></li>
  <% if @trainee == current_trainee %>
    <li>
      <%= link_to "プロフィール変更", edit_trainee_registration_path(current_trainee.id) %>
    </li>
  <% end %>
</ul>
