<% if @trainer == current_trainer %>
  <h3>自分のプロフィール</h3>
<% else %>
  <h3><%= @trainer.name %>さんのプロフィール</h3>
<% end %>
<ul class="custom-light-gray">
  <li><%= image_tag @trainer.avatar.variant(gravity: :center, resize:"200x200^", crop:"200x200+0+0").processed, class: "avatar_image" %></li>
  <li>名前:<%= @trainer.name %></li>
  <li>年齢:<%= @trainer.age %></li>
  <li>性別:<%= @trainer.gender_i18n %></li>
  <li>自己紹介:<%= @trainer.introduction %></li>
  <li>カテゴリー:<% if @trainer.category %><%= @trainer.category_i18n %><% else %>指定なし<% end %></li>
  <li>指導方法:<% if @trainer.instruction_method %><%= @trainer.instruction_method_i18n  %><% else %>指定なし<% end %></li>
  <li>最小料金:<% if @trainer.min_fee %><%= @trainer.min_fee %>円<% else %>指定なし<% end %></li>
  <li>指導期間:<% if @trainer.instruction_period %><%= @trainer.instruction_period_i18n  %><% else %>指定なし<% end %></li>
  <li>指導できる曜日<% if @trainer.day_of_weeks.empty? %>：指定なし<% end %></li>
  <% @trainer.day_of_weeks.each do |day| %>
    <li><%= day.name %></li>
  <% end %>
  <li>
    活動地域
    <% if @trainer.prefectures.empty? %>
      ：<button type="button" class="btn btn-sm btn-secondary" disabled>入力なし</button>
    <% end %>
  </li>
  <% @trainer.prefectures.distinct.each do |prefecture| %>
    <li>
      <%= prefecture.name %>：
      <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= @trainer.id %>and<%= prefecture.id %>" aria-expanded="false" aria-controls="collapse<%= @trainer.id %>and<%= prefecture.id %>">
        活動している市区町村
      </button>
    </li>
    <div class="collapse" id="collapse<%= @trainer.id %>and<%= prefecture.id %>">
      <div class="card card-body">
        <p class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
        <% @trainer.cities.where(prefecture_id: prefecture.id).each do |city| %>
          <span class="col"><%= city.name %></span>
        <% end %>
        </p>
      </div>
    </div>
  <% end %>
  <% if @trainer == current_trainer %>
    <li>
      <%= link_to "プロフィールの変更", edit_profile_trainer_path(current_trainer.id) %>
    </li>
    <li>
      <%= link_to "アカウント情報の変更", edit_trainer_registration_path(current_trainer.id) %>
    </li>
  <% end %>
  <% if trainee_signed_in? %>
    <%= link_to "#{@trainer.name}さんとのトークルーム", chat_path(@trainer.id) %>
  <% end %>
</ul>
